.about-hero {
    background-image: url('../../assets/images/about/mobile/image-hero-whitecup.jpg'),  linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6));
}

.commitment__image {
    background-image: url('../../assets/images/about/mobile/image-commitment.jpg');
    height: 500px;
}

.about-title {
    font-size: 1.8rem;
}

.text-black {
    color: #000 !important;
}

.uncompromising {
    background-color: #2C343E;
    margin-top: 10rem !important;
}

.uncompromising__image {
    background-image: url('../../assets/images/about/mobile/image-quality.jpg');
    height: 140px;
    width: 80%;
}

.headquartes__title {
    font-size: 1.5rem;
    opacity: .7;
}

.headquartes__column:nth-child(1) .address-card__title::before {
    background-image: url('../../assets/icons/illustration-uk.svg');
}

.headquartes__column:nth-child(2) .address-card__title::before {
    background-image: url('../../assets/icons/illustration-canada.svg');
}

.headquartes__column:nth-child(3) .address-card__title::before {
    background-image: url('../../assets/icons/illustration-australia.svg');
}

@media screen and (min-width: 576px) {
    .about-hero {
        background-image: url('../../assets/images/about/tablet/image-hero-whitecup.jpg'),  linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6));
    }

    .commitment__image {
        background-image: url('../../assets/images/about/mobile/image-commitment.jpg');
        height: 559px;
        width: 45%;
    }

    .commitment__content {
        margin-top: 0 !important;
        margin-left: 5%;
        width: 50%;
    }

    .commitment__title, .commitment__description, .headquartes__title {
        text-align: left !important;
    }

    .uncompromising, .headquartes, .commitment {
        padding-left: 5%;
        padding-right: 5%;
    }

    .uncompromising {
        margin-top: 17rem !important;
    }

    .uncompromising__image {
        background-image: url('../../assets/images/about/tablet/image-quality.jpg');
        height: 270px;
        width: 80%;
    }

    .uncompromising__content {
        margin-top: 7rem !important;
    }
}

@media screen and (min-width: 992px) {
    .main {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .about-hero {
        background-image: url('../../assets/images/about/desktop/image-hero-whitecup.jpg'),  linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6));
    }

    .commitment {
        padding-left: 5%;
        padding-right: 5%;
    }

    .uncompromising {
        margin-top: 13rem !important;
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }

    .uncompromising__image {
        background-image: url('../../assets/images/about/desktop/image-quality.jpg');
        height: 367px;
        left: auto !important;
        transform: translate(0,-22%)!important;
        right: 5% !important;
        width: 35%;
    }

    .uncompromising__content {
        margin: 0rem !important;
        text-align: left;
        width: 50%;
    }

    .uncompromising__title, .uncompromising__description {
        text-align: left !important;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        padding-left: 3%;
        padding-right: 3%;
    }

    .commitment {
        margin-top: 7rem !important;
    }

    .commitment__image {
        margin-left: 0;
        width: 38%;
    }

    .uncompromising {
        margin-top: 17rem !important;
    }

    .uncompromising__image {
        height: 500px;
        transform: translate(0,-44%)!important;
        right: 10% !important;
        width: 34%;
    }

    .uncompromising__description {
        width: 80%;
    }

}

@media screen and (min-width: 1400px){
    .main {
        padding-left: 5%;
        padding-right: 5%;
    }

    .commitment__image {
        width: 30%;
    }

    .uncompromising__image {
        width: 28%;
    }
}