.collection-card__image {
    width: 55% !important;
}

.collection-card__title {
    font-size: 1.5rem;
}

.collection-card__description {
    font-size: .96rem;
    line-height: 1.5rem;
}

@media screen  and (min-width: 576px) {

    .collection-card__image {
        width: 38% !important;
    }

    .collection-card__body {
        padding: 2rem 0 0 0;
    }
    
    .collection-card__title {
        font-size: 1.5rem;
    }
    
    .collection-card__description, .collection-card__title {
        text-align: left !important;
    }

    .collection-card__description {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {

    .collection-card__body {
        padding: .5rem 0 0 0;
    }

    .collection-card__description, .collection-card__title {
        text-align: center !important; 
    }

    .collection-card__description {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .collection-card__image {
        width: 65% !important;
    }

    .collection-card__body {
        margin-top: 1rem;
        padding: .5rem 0 0 0;
    }
}

@media screen and (min-width: 1200px) {
    .collection-card__description {
        width: 95%;
    }
}