.address-card__title::before {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 50px;
    margin: 0 auto 2rem auto;
    width: 40%;
}

.address-card__description {
    font-size: .95rem;
    line-height: 1.7rem;
}

@media screen and (min-width: 576px) { 
    .address-card__title, .address-card__description {
        text-align: left !important;
    }

    .address-card__title::before {
        margin-left: 0;
    }
}

@media screen and (min-width: 992px) { 
    .address-card__title::before {
        width: 15%;
    }

    .address-card__description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1400px) { 
    .address-card__title::before {
        width: 11%;
    }
}