.home-hero {
    background-image: url('../../assets/images/home/mobile/image-hero-coffeepress.jpg'), linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
    background-position: center;
    background-size: cover;
    height: 480px;
}

.home-hero__title {
    color: #FEFCF7;
    font-weight: 900;
}

.home-hero__description {
    margin-bottom: 0;
    opacity: .7;
}

.home-hero__link {
    background-color: #0E8784;   
    font-size: 1.05rem;
    font-weight: 700;
    padding-bottom: .8rem;
    padding-top: .8rem;
    width: 80%;
}

.collection__title {
    background: -webkit-linear-gradient(#848990, #83888f96);
    background-clip: text;
    font-family: 'Fraunces', serif;
    font-size: 2.2rem;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.services__background {
    background-color: #2C343E;
    height: 722px;
    z-index: -1;
}

.services__title {
    font-size: 1.4rem;
}

.services__description {
    font-size: .96rem;
    line-height: 1.6rem;
    opacity: .8;
}

.services__column:nth-child(1) .service-card__title::before {
    background-image: url('../../assets/icons/icon-coffee-bean.svg');
}

.services__column:nth-child(2) .service-card__title::before {
    background-image: url('../../assets/icons/icon-gift.svg');
}

.services__column:nth-child(3) .service-card__title::before {
    background-image: url('../../assets/icons/icon-truck.svg');
}

@media screen and (min-width: 576px){
    .home-hero {
        background-image: url('../../assets/images/home/tablet/image-hero-coffeepress.jpg');
        height: 530px;
    }

    .home-hero__content {
        margin-left: 5%;
    }

    .home-hero__title, .home-hero__description {
        text-align: left;
    }

    .home-hero__title {
        font-size: 2.6rem;
    }

    .home-hero__link {
        margin-top: 2rem !important;
        width: 60%;
    }

    .collections {
        padding-top: 1rem;
    }

    .collection__title {
        background: -webkit-linear-gradient(#848990b7, #83888f00);
        background-clip: text;
        font-size: 4.5rem;
        transform: translateY(74px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .services__background {
        height: 548px;
    }
}


@media screen and (min-width: 768px){
    .home-hero {
        background-image: url('../../assets/images/home/desktop/image-hero-coffeepress.jpg');
        height: 600px;
    }

    .home-hero__title {
        font-size: 3rem;
    }

    .collection__title {
        font-size: 6rem;
    }

    .services__description {
        margin-left: auto;
        margin-right: auto;
        width: 66%;
    }

    .services__background {
        height: 69%;
    }
}

@media screen and (min-width: 992px){
    .main {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .services__title {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1200px){
    .main {
        padding-left: 3%;
        padding-right: 3%;
    }

    .collection__title {
        font-size: 8rem;
    }
}

@media screen and (min-width: 1400px){
    .main {
        padding-left: 5%;
        padding-right: 5%;
    }
}