.default-hero {
    height: 380px;
}

.default-hero__title {
    font-size: 2rem;
}

.default-hero__description {
    font-size: .91rem;
    line-height: 1.5rem;
}

@media screen and (min-width: 576px) { 
    .default-hero__title, .default-hero__description {
        text-align: left !important;
    }

    .default-hero {
        padding-left: 5%;
        height: 440px;
    }

    .default-hero__content {
        width: 50%;
    }
}

@media screen and (min-width: 992px) { 
    .default-hero {
        height: 470px;
    }

    .default-hero__content {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) { 
    .default-hero {
        height: 520px;
    }

    .default-hero__content {
        width: 32%;
    }
}