.navbar-collapse {
    flex-grow: 0 !important;
}
.navbar__brand {
    height: 27px;
    padding-bottom: 0;
    padding-top: 0;
    width: 60%;
}

.navbar__toggle {
    border: none !important;
    padding: .25rem .75rem;
    font-size: 1.1rem;
    line-height: 1;
    background-color: transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    outline: none !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none !important;
    box-shadow: none;
}

.navbar-nav {
    align-items: center;
    background-image: linear-gradient( to bottom, #fefcf7, #e2e2e2);
    left: -3vw;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.nav-link {
    color: #83888F !important;
    transition: all 400ms;
}

.nav-link:hover {
    color: #333D4B !important;
    font-size: 1.05rem;
}

button:focus:not(:focus-visible) {
    outline: none !important;
}

@media screen and (min-width: 576px) {
    .header {
        padding-left: 5%;
        padding-right: 3%;
    }

    .navbar-nav {
        background-image: none;
        position: relative;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
    }
}


@media screen and (min-width: 1200px){
    .header {
        padding-left: 7%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1400px){
    .header {
        padding-left: 10%;
        padding-right: 6%;
    }
}